<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <location path="." inheritInChildApplications="false">
        <system.webServer>
            <handlers>
                <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
            </handlers>
            <aspNetCore processPath="dotnet" arguments=".\ApplicationService.dll exec &quot;C:\Users\jkremer\Documents\Projects\app\server\ApplicationService\bin\Release\netcoreapp2.2\ApplicationService.dll&quot;" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
                <environmentVariables>
                    <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
                    <environmentVariable name="COMPLUS_ForceENC" value="1" />
                    <environmentVariable name="EnvironmentName" value="Release" />
                </environmentVariables>
            </aspNetCore>
        </system.webServer>
    </location>
</configuration>
