<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <location path="." inheritInChildApplications="false" allowOverride="false">
        <system.webServer>
            <handlers>
                <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
            </handlers>
            <aspNetCore processPath="dotnet" arguments=".\WebApplication2.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" requestTimeout="00:50:00" />
        </system.webServer>
        <system.web>
            <httpRuntime executionTimeout = "7200"
                         maxRequestLength="10000000"  requestValidationMode="2.0"/>
            <trust level="Full" />
            
        </system.web>
    </location>
</configuration>
        <!--ProjectGuid: 0704cd6e-e0a9-4cf2-a950-cae6d0f13ca8-->
